@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252a36;
}
.container{
    background-color: #828ece;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 30vw;
    min-height: 20vh;
}
h1{
    font-size: 20px;
    color: #252a36;
}
button{
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: #252a36;
    background-color: #ffeac8;
    cursor: pointer;
}
button:hover{
    background-color: #f4d7a8;
}
.btn-delete:hover{
    background-color: #2e3d94;
}
.btn-delete{
    padding: 0.5rem !important;
    font-size: 12px;
    background-color: #3e4ca0;
    color: #fafafa;
    font-weight: 300;
}
input{
    padding: 0.75rem;
    border-radius: 4px;
    border: none;
    width: 100%;
    outline: none;
}
.input-block{
    display: flex;
    gap: 16px;
    width: 100%;
}
.tasks{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
footer p{
    color: #fafafa90;
    font-weight: 300;
    font-size: 14px;
}